################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FileRepository/.vs/FileRepository
/FileRepository/src/FileRepository/bin
/FileRepository/src/FileRepository/obj
/FileRepository/src/FileRepository.AzureStorage/bin
/FileRepository/src/FileRepository.AzureStorage/obj
/src/FileRepository/obj
/src/FileRepository.AzureStorage/obj
/src/FileRepository/bin
/src/FileRepository.AzureStorage/bi
/src/FileRepository.Sftp/bin
/src/FileRepository.Sftp/obj
/test/FileRepository.IntTests/bin
/test/FileRepository.IntTests/obj
/test/FileRepository.UnitTests/bin
/test/FileRepository.UnitTests/obj
/src/FileRepository.Encrption/bin
/src/FileRepository.Encrption/obj
/src/FileRepository.Encryption/bin
/src/FileRepository.Encryption/obj
/src/FileRepository.Zip/obj
/src/FileRepository.Zip/bin/
/src/FileRepository.BlobStorageZip/obj
/src/FileRepository.BlobStorageZip/bin
/src/FileRepository.Zip.AzureStorage/bin
/src/FileRepository.Zip.AzureStorage/obj
